# This file allows you to set up omitted items (e.g. things cannot be researched) and aliases (equivalent item groups).
# For both `omit` and `alias`, the program only looks for item #IDs, the rest is for readability.
# Consider submitting your changes if they universally apply!

omit #603 Carrot (Collector's Edition only)
omit #766 Bone Block (now drops bones)
omit #226 Lesser Restoration Potion (phased out since 1.4)
omit #4722 First Fractal (Zenith predecessor)
alias Rubblemaker #5329 (M) / #5330 (L)
alias Shellphone #5358 (Home) / #5359 (Spawn) / #5360 (Ocean) / #5361 (Underworld)
alias Encumbering Stone #4346 / Uncumbering Stone #5391
alias Guide to Critter Companionship #4767 / #5453 (Inactive)
alias Guide to Environmental Preservation #5309 / #5454 (Inactive)
alias Guide to Peaceful Coexistence #5323 / #5455 (Inactive)

# from 1.4.5.7
omit #6160 Razortip
omit #6170 Enchanted Timer
omit #6171 Bejeweled Staff 
alias Guide to Old World Parkour #6190 / #6195 (Inactive)
alias Chaos Cylinder #6168 / #6169 (Full) / #6193 (Random) / #6194 (Simple)
